<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List via API</title>
    <link rel="stylesheet" href="../sass/example-api-01.scss" />
</head>
<body>
    <p><a href="../index.html">Go back</a></p>
    <div id="myDiv" class="header">
        <h2>My To Do List</h2>
        <input type="text" id="myInput" placeholder="Tittle...">
        <button type="button" class="addBtn" id="addBtn">Add</button>
    </div>
    <ul id="myUL"></ul>
    <script src="../js/example-api-01.js" type="modules"></script>
</body>
</html>